# Obsidian - ignore noisy state files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/cache/
.obsidian/.trash/

# Obsidian - ignore personal/plugin setup
.obsidian/community-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/

# OS / editor noise
.DS_Store
Thumbs.db
*.swp
